.App {
  text-align: center;
}
.btn-show{
  margin: 30px 50px;
}
.show-alert{
  width: 300px;
  text-align: center;
}
.close-btn{
  position: absolute;
  right: 0;
  top: 0;
}
.show-alerts{
  display: flex;
  flex-direction: column;
  align-items: center;
}